:root {
  background-color:white;
  color: rgb(246, 242, 242);
  width: 100vw;
  height: 100vh;

}
body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
}
header{
  width: 100%;
  margin: 0;
}
.nav-Navbar{
  background-color:  rgba(237, 97, 10, 0.919);
  justify-content: space-around;
  align-items: center;
  display:flex;
  padding: 20px;
  width: 97%;
  flex-wrap: wrap;
}
.logo{
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 48px;
}
ul{
  list-style:none;
  justify-content:space-between;
  flex-direction: row;
  align-items: center;
  display: flex;
  gap: 16px;
}
ul>li>a{
  text-decoration: none;
}
ul>li>a:visited{
  color: white;
}

.search{
  width: 100%;
  height: 30px;
  border-radius: 20px 0 0 20px;
  padding: 5px;
  
}
.container-search{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 50vw;
  height: 30px;
  border-radius: 20px;
 
}
.button-search{
  border-radius: 0 20px 20px 20px;
  height: 30px;
  border: none;
  background-color:  rgba(237, 97, 10, 0.919);
  -webkit-border-radius: 0 20px 20px 20px;
  -moz-border-radius: 0 20px 20px 20px;
  -ms-border-radius: 0 20px 20px 20px;
  -o-border-radius: 0 20px 20px 20px;
}
.category-header{
  width: 80%;
 
}
.nav-category-header{
  height: auto;
  width: 100%;
}
.list-category-header{
  justify-content: space-around;
  align-items: center;
}
.list-category-header:hover{
  cursor: pointer;
  
}
ul>li>a:hover{
  border-bottom: 1px solid white;
}
.container-nav-list{
width: 90%;
height: 35px;
display: flex;
justify-content: flex-end;
}
.nav-list{
  width: 30%;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
}